@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

:root {
    --hello: #191919; /*заданная переменная*/
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--color);    /*использование переменной*/
}

.info {
    display: flex;
    margin-block: 60px;
    justify-content: center;
}

.info h2 {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 16px;
}

.info h5 {
    font-size: 16px;
    font-weight: 700;
}

.info p {
    font-size: 16px;
    margin-bottom: 1em;
}

.container {
    width: calc(100% - 30px * 2);
    max-width: 850px;
    margin: 0 auto;
}

.info__container {
    max-width: 850px;
    width: 100%;
}

.info__link {
    color: #FF7010;
    background: none;
    border: none;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}

.info__text {
    transition: max-height 1s;
    max-height: 310px;
    overflow: hidden;
    position: relative;
}

.info__text--active {
    max-height: 1000px;
}

.info__text::after {
    width: 100%;
    height: 310px;
    opacity: 1;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 1s, height 1s;
}

.info__text--active::after {
    opacity: 0;
    height: 1000px;
}

/* Catalog */

.catalog {
    padding: 30px 0;
}

.catalog__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.catalog__title {
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: 600;
}

.catalog__filter {
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: #fff; /*задний фон*/
    border: 1px solid #F0F0F0; /*обводка толщина,сплошная,цвет*/
    border-radius: 6px; /*скругление углов*/
    padding: 9px 16px;
    color: var(--hello);
    cursor: pointer;
    transition-duration: .3s; /*время эффекта*/
    transition-property: background-color, color; /*свойства эффекта*/
}

.catalog__filter svg {
    fill: #ff7010;
    transition: fill .3s;
}

.catalog__filter:hover {        /*эффект при наведении*/
    background-color: #FF7010;
    color: #fff
}

.catalog__filter:hover svg {
    fill: #fff;
}

/* End Catalog */

/* Popup */

.no-scroll {
   /* overflow: hidden; /*убирает прокрутку страницы при открытом попапе*/
}

.popup-filter {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px) brightness(0.6); /*размытие и затемнение фона*/
    display: none;
    justify-content: end;
    opacity: 0;
}

.popup-filter--show {
    display: flex;
}
.popup-filter--active{
    opacity: 1;
    transition: 0.5s;
}

.popup-filter__header {
    display: flex;
    justify-content: space-between;
    padding: 32px auto 20px;
}

.popup-filter__body {
    background-color: white;
    width: 520px;
    height: 100%;
    padding: 32px 20px 12px 20px;

    /* right: 0; */
    /* position: absolute; */
}

.popup-filter__general {
    max-width: 387px;
    width: 100%;
}

.popup-filter__checkbox {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.popup-filter__checkbox button{
    width: auto;
    height: 50px;
    background-color: #fff;
    border: 1px solid #F0F0F0; 
    border-radius: 6px; 
    padding: 9px 16px;
    cursor: pointer;
    font-size: 14px;
    padding: 11px 16px;
}

.popup-filter__checkbox button.active {
    background-color: #FF7010;
    color: #fff;
    border: 1px solid #FF7010;
}


/* End Popup */